<div class="container-fluid" style="margin: 20px 0 0 0">
  <div class="card card-body bg-light details-link" routerLinkActive="active"
       [routerLink]="['/game-details', clientScoresEntry.titleId]"
       style="margin: 0 0 20px 0;">
    <div class="row">
      <div id="image" class="col col-2-md">
        <img src="/images/placeholder.png"/>
      </div>
      <div class="col col-5-md">
        <h1>{{clientScoresEntry.title}}</h1>
        <p>Gatunek: {{clientScoresEntry.genre || 'nieznany'}}</p>
        <p>Twórcy: {{developers}}</p>
      </div>
      <div class="col col-5-md" style="float:inline-end">
        <p>
          Twoja ocena ({{clientScoresEntry.platform}}):
          <i>{{clientScoresEntry.givenScore}}/10</i><br>
          <ngb-rating [rate]="clientScoresEntry.givenScore" readonly="true">
            <ng-template let-fill="fill" let-index="index">
              <span class="star" [class.user-filled]="fill === 100">&#9733;</span>
            </ng-template>
          </ngb-rating>
        </p>
      </div>
    </div>
  </div>
</div>

