@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);


.star {
  font-size: 2.0rem;
  color: #808080;
}

.user-filled {
  color: #FFAB0F;
}

.critic-filled {
  color: #077F07;
}

game-view {
    @import '~css-star-rating/scss/star-rating';
    margin: 20px;
  }
  .custom-range {
    margin: 20px;
  }
  label {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .ratings {
    font-size: large;
    p {
      text-align: left;
      font-size: 16px;
    }
  }
  .details-link {
    &.active,
    &:hover,
    &:focus {
      outline: 1px solid cornflowerblue;
    }
  }

  img {
    width: 70%;
  }

@media screen and (max-width: map-get($grid-breakpoints, lg)) {
    h1 {
        font-size: 32px;
    }

    p {
        font-size: 14px;
    }
}

@media screen and (max-width: map-get($grid-breakpoints, md)) {
    h1 {
        font-size: 26px;
    }

    p {
        font-size: 12px;
    }

    #image {
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    }

    #star1 {
        display: none;
    }

    #star2 {
        display: none;
    }
}

@media screen and (max-width: map-get($grid-breakpoints, sm)) {
    h1 {
        font-size: 20px;
    }

    p {
        font-size: 10px;
    }
}

@media screen and (min-width: map-get($grid-breakpoints, md)) {
    i {
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
      }
}
