@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body > [uib-modal-window]:not([modal-render]) {
  display: none;
}
* {
  box-sizing: border-box;
}

.column {
  color: black;
  background-color: rgb(224, 224, 224);
  margin-left: 15px;
  margin-bottom: 4px;
  padding: 3px;

}
.column-heading {
  margin-left: 15px;
  margin-bottom: 5px;

  font-size: 20px;
}

.right-vertical-line {
  border-right: 3px solid darkgrey;
  margin-bottom: 5px;
}

.hover-add:hover {
  color: green;
  cursor: pointer;
}
.hover-del:hover {
  color: red;
  cursor: pointer;
}

.right-column-element-margin-top {
  margin-top: 20px;
  margin-left: 15px;
}
.right-column-element {
  margin-left: 15px;
}

.error-label {
  color: red;
}

.button {
  color: white;
  background: rgb(30, 144, 255);
}

