<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body >
  <h1 mat-dialog-title>Tagi powiązane z tym tytułem:</h1>
  <div class="row">
    <div *ngIf="tagsLoaded" mat-dialog-content class="col col-sm-5 right-vertical-line">
      <p class="column-heading"><b>Popularne tagi:</b></p>
      <div *ngFor="let tag of getTags()" class="column">
        {{tag}}
        <i *ngIf="! isInMyTags(tag)" class="fas fa-plus column hover-add" (click)="inputTagName=tag; toggleTag(tag);"></i>
        <i *ngIf="isInMyTags(tag)" class="fas fa-check-circle column hover-del" (click)="inputTagName=tag; toggleTag(tag);"></i>
      </div>

    </div>
    <div mat-dialog-content class="col col-sm-2">
    </div>
    <div *ngIf="myTagsLoaded" mat-dialog-content class="col col-sm-5">
      <p class="column-heading"><b>Twoje tagi:</b></p>
      <div *ngFor="let tag of getMyTags()" class="column">
        {{tag}}<i (click)="inputTagName=tag; delInputTag();" class="fas fa-check-circle column hover-del"></i>
      </div>
      <mat-label class="right-column-element-margin-top">Dodaj tagi</mat-label>
      <mat-form-field class="right-column-element">
        <label>
          <input class="mat-input" (input)="inputTagName = $event.target.value" matInput>
        </label>
      </mat-form-field>
      <button mat-button class="button" (click)="addInputTag()">Dodaj</button>
      <p *ngIf="insertedAlreadyExistingTag" class="error-label">Nie można dodać takiego samego taga!</p>
      <p *ngIf="insertedEmptyTag" class="error-label">Nie można dodać pustego taga!</p>
    </div>
  </div>

  <div align="end">
    <button mat-button class="button" (click)="onNoClick()">Zamknij</button>
  </div>

</body>
</html>
