$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@media screen and (min-width: map-get($grid-breakpoints, xl)) {
    .nav-item {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: map-get($grid-breakpoints, md)) {
    .navbar-brand {
        font-size: 0.9rem;
    }
    .nav-item {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: map-get($grid-breakpoints, sm)) {
    .action {
        display: none;
    }
    .navbar-brand {
        font-size: 0.8rem;
        font-weight: bold;
    }
    .nav-link {
        font-size: 1.4rem;
    }
    .nav-item {
        float: right;
    }
}

nav {
  position: sticky;
  top: 0;
  z-index: 99;
  margin-bottom: 20px !important;
  min-height: 100px;
}
.row {
  width: 100%
}

.fancy-writting {
  font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
  color: black;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}

.page-image {
  height: 50%;
  width: 50%;
  margin: 20px;
}

.logged-info {
  display: grid;
  .login-icon {
    grid-row: 1;
    grid-column: 1;
  }
  .username {
    grid-column: 1;
    grid-row: 2;
    text-align: center;
    border: none;
    margin-top: 5px;
  }
  .dropdown-menu {
    top: 90%;
    left: 90%;
  }
}
