<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Game statistics - najlepsza platforma do zbierania informacji o grach</a>
    <div class="float-right">
      <ul class="nav nav-pills">
        <li class="nav-item" [style.visibility]='userNotLoggedInVisible()'>
          <a class="nav-link" id="log" routerLinkActive="active" routerLink="/login">
            <span class="fas fa-sign-in-alt"></span>
            <span class="action">Logowanie</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" (click)="loadGameList()" routerLink="/game-list">
            <span class="fas fa-list"></span>
            <span class="action">Lista gier</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/annual-diagram">
            <span class="fas fa-signal"></span>
            <span class="action">Diagram ocen</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/sales-diagram">
            <span class="fas fa-chart-line"></span>
            <span class="action">Diagram nakładu</span>
          </a>
        </li>
      </ul>
    </div>
    <div *ngIf="authService.isLogged">
      <div class="logged-info">
        <img class="login-icon" width="50" height="50" src="/images/player-icon.png"/>
        <button class="username bg-transparent dropdown-toggle mr-4" type="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">{{authService.username}}</button>
        <div class="dropdown-menu">
	  <a class="dropdown-item" (click)="loadDashboard()">Panel użytkownika</a>
          <a class="dropdown-item" (click)="logOut()">Wyloguj</a>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
