<div class="login-page">
    <div class="form">
      <form class="register-form">
        <input type="text" placeholder="name"/>
        <input type="password" placeholder="password"/>
        <input type="text" placeholder="email address"/>
        <button>create</button>
      </form>
      <form class="login-form">
        <input type="text" placeholder="Nazwa użytkownika" id="username"/>
        <input type="password" placeholder="Hasło" id="password"/>
        <p class="message">{{errCommunicate}}</p>
        <button type="button" (click)="login()" class="btn btn-primary">zaloguj</button>
        <p class="message">Nie masz konta? <a class="nav-link" outerLinkActive="active" routerLink="/register">Załóż konto</a></p>
      </form>
    </div>
  </div>
