@import url(https://fonts.googleapis.com/css?family=Roboto:300);

@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

.login-page {
  width: 480px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 480px;
  width: 100%;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 16px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 16px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #1E90FF;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #1E90FF;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

@media screen and (max-width: map-get($grid-breakpoints, lg)) {
  .form button {
    font-size: 15px;
  }

  .form input {
    font-size: 15px;
  }

  .form .message {
    font-size: 12px;
  }
}

@media screen and (max-width: map-get($grid-breakpoints, md)) {
  .form button {
    font-size: 14px;
  }

  .form input {
    font-size: 14px;
  }

  .login-page {
    max-width: 360px;
  }

  .form {
    max-width: 360px;
  }
}

@media screen and (max-width: map-get($grid-breakpoints, sm)) {
  .form button {
    font-size: 13px;
  }

  .form input {
    font-size: 13px;
  }

  .form .message {
    font-size: 10px;
  }

  .login-page {
    max-width: 300px;
  }

  .form {
    max-width: 300px;
  }
}

@media screen and (max-width: map-get($grid-breakpoints, xs)) {
  .form button {
    font-size: 11px;
  }

  .form input {
    font-size: 11px;
  }

  .form .message {
    font-size: 7px;
  }
}