@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.registerbtn {
    background-color: dodgerblue;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

a {
  color: dodgerblue;
}

.row {
  width: 100%;
  text-align: center;
  vertical-align: baseline;
}

button {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: map-get($grid-breakpoints, lg)) {
  h1{
    font-size: 28px;
  }

  .info{
    font-size: 14px;
  }

  b {
    font-size: 14px;
  }

  input {
    font-size: 14px;
  }

  button {
    font-size: 16px;
  }

  p {
    font-size: 13px;
  }
}

@media screen and (max-width: map-get($grid-breakpoints, md)) {
  p {
    font-size: 12px;
  }
}

@media screen and (max-width: map-get($grid-breakpoints, sm)) {
  h1{
    font-size: 26px;
    font-weight: bold;;
  }

  .info{
    font-size: 12px;
  }

  b {
    font-size: 12px;
    font-weight: bold;
  }

  input {
    font-size: 12px;
  }

  button {
    font-size: 14px;
  }

  p {
    font-size: 11px;
  }
}