<form action="action_page.php">
    <div class="container">
      <h1 clas="register-info">Zarejestruj</h1>
      <p class="info">Wypełnij ten formularz, aby korzystać z wszystkich funkcji naszej aplikacji.</p>
      <hr>

      <label for="username"><b>Nazwa użytkownika</b></label>
      <input type="text" placeholder="Podaj nazwę" name="username" required id="username">

      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Podaj e-mail" name="email" required>

      <label for="psw"><b>Hasło</b></label>
      <input type="password" placeholder="Podaj hasło" name="psw" required id='password'>

      <label for="psw-repeat"><b>Powtórz hasło</b></label>
      <input type="password" placeholder="Powtórz hasło" name="psw-repeat" required id="password-confirm">
      <hr>
      <p class="message">{{errCommunicate}}</p>
      <div style="text-align: center;">
        <button (click)="register()" type="submit" class="registerbtn">Zarejestruj się</button>
        <div class="container signin" style="display: inline;">
            <p>Masz już konto? <a class="nav-link" outerLinkActive="active" routerLink="/login">Zaloguj się</a>.</p>
          </div>
      </div>
    </div>
  </form>
