<div class="container-fluid">
  <div class="card card-body bg-light details-link" routerLinkActive="active"
       [routerLink]="['/game-details', gameEntry.titleId]">
    <div class="row">
      <div id="image" class="col col-sm-3">
        <img src="/images/placeholder.png"/>
      </div>
      <div class="col col-sm-4">
        <p id="title">{{gameEntry.title}}</p>
        <p>Gatunek: {{gameEntry.genre || 'nieznany'}}</p>
        <p>Twórcy: {{developers}}</p>
      </div>
      <div class="col col-sm" style="padding-left: 20px; font-size: 15px">
        <table>
          <tr>
            <th>
              Ocena użytkowników:
            </th>
            <th>
              <i>{{gameEntry.averageUsersScore}}/10</i>&nbsp;&nbsp;
              <ngb-rating [rate]="gameEntry.averageUsersScore" readonly="true">
                <ng-template let-fill="fill" let-index="index">
                  <span class="star" [class.user-filled]="fill === 100">&#9733;</span>
                </ng-template>
              </ngb-rating>
            </th>
          </tr>
          <tr>
            <th>
              Liczba ocen: {{gameEntry.averageUsersCount || 'nieznana'}}
            </th>
          </tr>
          <tr>
            <th>
              Ocena krytyków:
            </th>
            <th>
              <i>{{gameEntry.averageCriticsScore}}/100</i>&nbsp;&nbsp;
              <ngb-rating [rate]="gameEntry.averageCriticsScore/10" readonly="true">
                <ng-template let-fill="fill" let-index="index">
                  <span class="star" [class.critic-filled]="fill === 100">&#9733;</span>
                </ng-template>
              </ngb-rating>
            </th>
          </tr>
          <tr>
            <th>
              Liczba ocen: {{gameEntry.averageCriticsCount || 'nieznana'}}
            </th>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

