@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);


#title {
  font-size: 32px;
}

.star {
  font-size: 1.8rem;
  color: #808080;
}

.user-filled {
  color: #FFAB0F;
}

.critic-filled {
  color: #077F07;
}

  .custom-range {
    margin: 20px;
  }
  label {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .ratings {
    font-size: large;
    p {
      text-align: left;
      font-size: 16px;
    }
  }
  .details-link {
    &.active,
    &:hover,
    &:focus {
      outline: 1px solid cornflowerblue;
    }
  }

  img {
    width: 60%; 
  }

@media screen and (max-width: map-get($grid-breakpoints, lg)) {
    h1 {
        font-size: 32px;
    }

    p {
        font-size: 14px;
    }

    .star {
      font-size: 1.2rem;
    }

    #title {
      font-size: 26px;
    }
}

@media screen and (max-width: map-get($grid-breakpoints, md)) {
    h1 {
        font-size: 26px;
    }

    p {
        font-size: 12px;
    }

    #image {
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    }

    .star{
      display:none;
      width:0;
      height:0;
      opacity:0;
      visibility: collapse;
    }

    #title {
      font-size: 22px;
    }
}

@media screen and (max-width: map-get($grid-breakpoints, sm)) {
    h1 {
        font-size: 20px;
    }

    p {
        font-size: 10px;
    }

    #title {
      font-size: 18px;
      font-weight: bold;
    }
}

@media screen and (min-width: map-get($grid-breakpoints, md)) {
  i {
    display:none;
    width:0;
    height:0;
    opacity:0;
    visibility: collapse;
  }
}