@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

#fucking-stars {
  font-size: 35px;
}

#plot {
  font-size: 30px;
}

#platform {
  font-size: 28px;
}

p {
  font-size: 18px;
}

#title {
  font-size: 48px;
}


.fav {
  pointer-events: auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  background-color: #F4592A;
  color: white;
  border-radius: 4px;
}

.plain {
  pointer-events: auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  background-color: #1E90FF;
  color: white;
  border-radius: 4px;
}

button {
  margin-left: 50px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.heart-icon {
  position: relative;
  display: inline-block;
  font-size: 3.5rem;
  color: #d3d3d3;
}

.full {
  color: #F4592A;
}

.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #F4592A;
}

.star {
  font-size: 2.2rem;
  color: #DCDCDC;
}

.user-filled {
  color: #F4592A;
}

#game-image {
  width: 300px;
  height: 250px;
}

.platform-header {
  background-color:#E0E0E0;
  text-align: center;
  font-size: 2.0em;
}

.platform-header:hover {
  background-color:#E0E0E0;
  text-align: center;
  font-size: 2.0em;
  cursor: pointer;
}

i {
  position: relative;
}

h1 {
  font-size: 60px;
}

h3 {
  font-size: 40px;
}

.img-container {
  padding: 20px;
}

@media screen and (min-width: map-get($grid-breakpoints, lg)) {

  i {
    display: none;
  }

  #b1 {
    width: 160px;
    height: 80px;
  }

  #b2 {
    width: 160px;
    height: 60px;
  }
}

@media screen and (max-width: map-get($grid-breakpoints, xl)) {

  .img-container {
    padding: 20px;
  }

  #plot {
    font-size: 25px;
  }

  p {
    font-size: 16px;
  }

  #game-image {
    width: 240px;
    height: 200px;
  }

  h1 {
    font-size: 45px;;
  }

  h3 {
    font-size: 35px;
  }

  #title {
    font-size: 40px;
  }

  #platform {
    font-size: 24px;
  }

  #fucking-stars {
    font-size: 25px;
  }
}

@media screen and (max-width: map-get($grid-breakpoints, lg)) {

  .img-container {
    padding-left: 20px;
    padding-bottom: 0;
  }

  #plot {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }

  #game-image {
    width: 180px;
    height: 150px;
    margin-bottom: 5px;
  }

  button {
    margin-left: 5px;
    width: 120px;
    height: 40px;
    margin-right: 20px;
    margin-top: 10px;
  }

  #l1 {
    display: none;
  }

  #l2 {
    display: none;
  }

  h1 {
    font-size: 40px;;
  }

  h3 {
    font-size: 30px;
  }

  #title {
    font-size: 40px;
  }

  #platform {
    font-size: 20px;
  }

  #fucking-stars {
    font-size: 20px;
  }
}

@media screen and (max-width: map-get($grid-breakpoints, md)) {

    .img-container {
      padding: 20px;
    }

    #plot {
      font-size: 15px;
      font-weight: bold;
    }

    p {
      font-size: 12px;
    }

    #game-image {
      width: 120px;
      height: 100px;
    }

    button {
      margin-left: 5px;
      width: 100px;
      height: 35px;
    }

    h1 {
      font-size: 35px;;
    }

    h3 {
      font-size: 25px;
    }

    #title {
      font-size: 32px;
    }

    #platform {
      font-size: 16px;
      font-weight: bold;
    }

    #fucking-stars {
      font-size: 15px;
    }
}

@media screen and (max-width: map-get($grid-breakpoints, sm)) {


  p {
    font-size: 11px;
  }

  #game-image {
    width: 100px;
    height: 80px;
  }

  button {
    margin-left: 5px;
    width: 75px;
    height: 30px;
  }

  #b1 {
    float: left;
  }

  #b2 {
    float: right;
  }

  h1 {
    font-size: 30px;
    font-weight: bold;
  }

  h3 {
    font-size: 20px;
    font-weight: bold;
  }

  #title {
    font-size: 28px;
    font-weight: bold;
  }
}


