<div *ngIf="title" class="container">

  <div class="row" id="details">
    <div [ngClass]="hasAnyPlatform()? 'col-7' : 'col-12'">
      <p id="title">{{title.name}}</p>
      <div class="row">
        <div class="col-lg-6 img-container" id="img-cont">
          <img src="/images/placeholder.png" alt="placeholder" id="game-image">
        </div>
        <div class="col-lg-6" id="buttons">
            <button [ngClass]="{'fav':isFavourite, 'plain':!isFavourite}" type="button" id="b1"
                    (click)="addToFavourites()" [title]="loggedInfo">
              <a id="l1">{{isFavourite ? 'Ulubione': 'Dodaj do ulubionych'}}</a>
              <i class="fas fa-heart"></i>
            </button>
            <button (click)="openDialog()" type="button" id="b2"  class="plain" [title]="loggedInfo"><a id="l2">Dodaj tagi</a>
              <i class="fas fa-tags"></i>
            </button>
        </div>
      </div>
      <p id="p1">Gatunek: &nbsp; {{title.genre.name}}</p>
      <p id="p2">Wydawca: &nbsp; {{title.publisher.name}}</p>
      <p *ngIf="tagsLoaded">Popularne tagi: &nbsp; {{mostPopularTags}}</p>
      <p id="plot">Opis fabuły:</p>
      <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
        quae ab illo inventore veritatis et quasi architecto beatae vitae
        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
        aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
        eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,
        qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
        sed quia non numquam eius modi tempora incidunt ut labore et dolore
        magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis
        nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
        aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit
        qui in ea voluptate velit esse quam nihil molestiae consequatur,
        vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
    </div>
    <div class="col-5">
      <div *ngFor="let platform of orderedPlatforms; let i = index" style="text-align: right; padding: 1px;">
        <div *ngIf="gameForPlatform(platform)" class="platform-header" (click)="onToggle(platform)">
	  <p id="platform">Platforma: {{platform}}</p>
	</div>
        <div *ngIf="visible[i]">
          <div *ngIf="authService.isLogged">
            <hr>
            <p>Moja ocena: {{displayScore(gameScores.get(gameForPlatform(platform).gameId))}}</p>
            <ngb-rating [rate]=gameScores.get(gameForPlatform(platform).gameId)
                        (rateChange)="addRating($event, gameForPlatform(platform).gameId)">
              <ng-template let-fill="fill" let-index="index">
                <span id="fucking-stars" class="star" [class.user-filled]="fill === 100">&#9733;</span>
              </ng-template>
            </ngb-rating>
          </div>
          <hr>
          <p>Rok wydania: {{gameForPlatform(platform).yearOfRelease}}</p>
          <p>Twórcy: {{displayDevelopers(gameForPlatform(platform).developers)}}</p>
          <div>
            <p>Ocena użytkowników: {{displayScore(gameForPlatform(platform).usersScore)}}</p>
            <p>Liczba ocen: {{gameForPlatform(platform).usersCount || 'nieznana'}}</p>
          </div>
          <div>
            <p>Ocena krytyków: {{displayScore(gameForPlatform(platform).usersScore)}}</p>
            <p>Liczba ocen: {{gameForPlatform(platform).criticsCount || 'nieznana'}}</p>
            <p>Rating: {{gameForPlatform(platform).rating.name}}</p>
          </div>
  </div>
      </div>
      <p>
        <ng-template #t let-fill="fill">
          <span class="heart-icon" [class.full]="fill === 100">
          <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;</span>
        </ng-template>
      <ngb-rating [rate]="favouritesRatio" [starTemplate]="t" [readonly]="true" [max]="1"></ngb-rating>
      {{favouritesRatio*100}} % użytkowników lubi tę grę
    </p>
    </div>
  </div>
  <div style="display: inline-block; margin-top:20px" *ngFor="let column of titlesSimilarityColumns">
    <similar-titles-diagram [similarityColumn]='column' [titleId]="titleId"></similar-titles-diagram>
    <br>
    <br>
  </div>
</div>
