<div class="container">
  <h3>Zależność ocen krytyków i użytkowników od roku wydania gry</h3>
  <hr>
  <button style="margin-bottom: 20px; margin-top: 10px" (click)="showFilters = !showFilters" class="btn-outline-primary">Filtry <i class="fa fa-filter"></i></button>
  <div *ngIf="showFilters">
    <div>
      <label for="rating">Wybierz kategorię wiekową:</label>
      <div>
        <select class="browser-default custom-select" id="rating" #ratingSelect
                (change)='onRatingSelected(ratingSelect.value)'>
          <option *ngFor="let x of ratingNames" value="{{x}}">{{x}}</option>
        </select>
      </div>
    </div>
    <div>
      <label for="genre">Wybierz kategorię gry:</label>
      <div>
        <select class="browser-default custom-select" id="genre" #genreSelect
                (change)='onGenreSelected(genreSelect.value)'>
          <option *ngFor="let x of genreNames" value="{{x}}">{{x}}</option>
        </select>
      </div>
    </div>
  </div>
  <div>
    <canvas *ngIf="(isLoaded && resultsFound)" baseChart
            [colors]="chartColors"
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
    </canvas>

    <div *ngIf="!isLoaded">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <div *ngIf="!resultsFound">Brak rezultatów dla podanych filtrów</div>

  </div>
</div>

