@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';

.spinner-border {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 60%;
}

select {
  margin: 10px 0;
  max-width: 25%;
}

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

h3 {
  font-size: 32px;
}

h5 {
  font-size: 24px;
}

label {
  font-size: 16px;
  margin-right: 10px;
}

select {
  font-size: 16px;
}

option {
  font-size: 16px;
}

@media screen and (max-width: map-get($grid-breakpoints, lg)) {
  h3 {
    font-size: 28px;
  }

  h5 {
    font-size: 20px;
  }

  label {
    font-size: 14px;
  }

  select {
    font-size: 14px;
  }

  option {
    font-size: 14px;
  }
}

@media screen and (max-width: map-get($grid-breakpoints, md)) {
  h3 {
    font-size: 24px;
  }

  h5 {
    font-size: 18px;
    margin-left: 15px;
    margin-top: 5%;
  }

  label {
    font-size: 12px;
    margin-left: 15px;
  }

  select {
    font-size: 12px;
  }

  option {
    font-size: 12px;
  }

  canvas {
    padding-top: 15px;
  }
}

@media screen and (max-width: map-get($grid-breakpoints, sm)) {
  h3 {
    font-size: 20px;
    font-weight: bold;
  }

  h5 {
    font-size: 16px;
  }

  label {
    font-size: 11px;
    margin-right: 5px;
  }

  select {
    font-size: 11px;
  }

  option {
    font-size: 11px;
  }

  canvas {
    padding-top: 30px;
  }
}
