<div class="container">
  <h3>Diagram nakładu gier w poszczególnych latach</h3>
  <hr>
  <button style="margin-bottom: 20px; margin-top: 10px" (click)="showFilters = !showFilters"
          class="btn-outline-primary">Filtry <i
    class="fa fa-filter"></i></button>
  <div *ngIf="showFilters">
    <div>
      <label for="rating">Wybierz kategorię wiekową:</label>
      <div>
        <select class="browser-default custom-select" id="rating" #ratingSelect
                (change)='onRatingSelected(ratingSelect.value)'>
          <option *ngFor="let x of ratingNames" value="{{x}}">{{x}}</option>
        </select>
      </div>
    </div>
    <div>
      <label for="genre">Wybierz kategorię gry:</label>
      <div>
        <select class="browser-default custom-select" id="genre" #genreSelect
                (change)='onGenreSelected(genreSelect.value)'>
          <option *ngFor="let x of genreNames" value="{{x}}">{{x}}</option>
        </select>
      </div>
    </div>

    <div>
      <label for="platform">Wybierz platformę:</label>
      <div>
        <select class="browser-default custom-select" id="platform" #platformSelect
                (change)='onPlatformSelected(platformSelect.value)'>
          <option *ngFor="let x of platformNames" value="{{x}}">{{x}}</option>
        </select>
      </div>
    </div>

    <div>
      <label for="region">Wybierz region:</label>
      <div>
        <select class="browser-default custom-select" id="region" #regionSelect
                (change)='onRegionSelected(regionSelect.value)'>
          <option *ngFor="let x of regionNames" value="{{x}}">{{translateRegionName(x)}}</option>
        </select>
      </div>
    </div>
  </div>

  <div style="display: block">
    <canvas *ngIf="(isLoaded && resultsFound)" baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
    </canvas>
  </div>

  <div *ngIf="!isLoaded">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div *ngIf="!resultsFound">Brak rezultatów dla podanych filtrów</div>

</div>


