<div class="container filters-container">
  <div class="scroll-container">
    <div class="row">
      <div class="col-6">
        <h2>Filtry</h2>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-primary" (click)="clearFilters()">Wyczyść filtry</button>
      </div>
    </div>
    <div class="form-group" (keyup.enter)="filterEvent.emit(filters)">
      <label for="phrase">Tytuł</label>
      <input [ngModel]="filters.phrase" (ngModelChange)="filterEvent.emit(filters)"
             [ngModelOptions]="{updateOn : 'blur'}"
             id="phrase" class="filter-input form-control" type="text" [value]="filters.phrase || ''"
             (input)="filters.phrase = $event.target.value">
      <label for="phrase">Twórca</label>
      <input [ngModel]="filters.developers" (ngModelChange)="filterEvent.emit(filters)"
             [ngModelOptions]="{updateOn : 'blur'}"
             id="developers" class="filter-input form-control" type="text" [value]="filters.developers || ''"
             (input)="filters.developers = $event.target.value">
      <label for="phrase">Gatunek</label>
      <input [ngModel]="filters.genre" (ngModelChange)="filterEvent.emit(filters)"
             [ngModelOptions]="{updateOn : 'blur'}"
             id="genre" class="filter-input form-control" type="text" [value]="filters.genre || ''"
             (input)="filters.genre = $event.target.value">
      <label for="minScoresCount">Minimalna liczba ocen</label>
      <input [(ngModel)]="filters.minScoresCount" (ngModelChange)="filterEvent.emit(filters)"
             [ngModelOptions]="{updateOn : 'blur'}"
             id="minScoresCount" class="filter-input form-control" type="number"
             [value]="filters.minScoresCount || 0" (input)="filters.minScoresCount = $event.target.value">
      <slider id="minUsersScore" label="Minimalna ocena użytkowników" [(value)]="filters.minUsersScore"
              (valueChange)="filterEvent.emit(filters)"></slider>
      <slider id="maxUsersScore" label="Maksymalna ocena użytkowników" [(value)]="filters.maxUsersScore"
              (valueChange)="filterEvent.emit(filters)"></slider>
      <slider id="minCriticsScore" label="Minimalna ocena krytyków" [(value)]="filters.minCriticsScore"
              (valueChange)="filterEvent.emit(filters)"></slider>
      <slider id="maxCriticsScore" label="Maksymalna ocena krytyków" [(value)]="filters.maxCriticsScore"
              (valueChange)="filterEvent.emit(filters)"></slider>
    </div>
    <form>
      <h2>Sortowanie</h2>
      <div class="form-group">
        <sorter label="Tytuł" fieldName="title" [sortBy]="filters.sortBy"
                (sortByChange)="filterEvent.emit(filters)"></sorter>
        <sorter label="Twórcy" fieldName="developers" [sortBy]="filters.sortBy"
                (sortByChange)="filterEvent.emit(filters)"></sorter>
        <sorter label="Gatunek" fieldName="genre" [sortBy]="filters.sortBy"
                (sortByChange)="filterEvent.emit(filters)"></sorter>
        <sorter label="Ocena użytkowników" fieldName="averageUsersScore" [sortBy]="filters.sortBy"
                (sortByChange)="filterEvent.emit(filters)"></sorter>
        <sorter label="Ocena krytyków" fieldName="averageCriticsScore" [sortBy]="filters.sortBy"
                (sortByChange)="filterEvent.emit(filters)"></sorter>
        <sorter label="Liczba ocen użytkowników" fieldName="averageUsersCount" [sortBy]="filters.sortBy"
                (sortByChange)="filterEvent.emit(filters)"></sorter>
        <sorter label="Liczba ocen krytyków" fieldName="averageCriticsCount" [sortBy]="filters.sortBy"
                (sortByChange)="filterEvent.emit(filters)"></sorter>
      </div>
    </form>
    <form *ngIf="authService.isLogged">
      <h2>Rekomendacje</h2>
      <div class="row">
        <div class="col-6 buttons">
          <button (click)="showRecommendations(true)" type="button" id="b1" class="btn btn-primary"><a id="l1">Pokaż
            polecane przez nas! </a>
            <i class="fas fa-check-circle"></i>
          </button>
        </div>
        <div class="col-6 buttons">
          <button (click)="showRecommendations(false)" type="button" id="b2" class="btn btn-primary"><a id="l2">Pokaż
            wszystkie </a>
            <i class="fas fa-globe"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
