<label for="{{id}}">{{label}} ({{minValue}} - {{maxValue}})</label>
<div class="row">
  <div class="col-8">
    <input [value]="value || maxValue + 1" (input)="valueChanged($event.target.value)" type="range" class="custom-range"
           min="{{minValue}}"
           max="{{maxValue + 1}}" step="{{step}}" id="{{id}}">
  </div>
  <div class="col-4">{{value || 'dowolna'}}</div>
</div>
