@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

#filters {
  overflow: hidden;
}

.spinner-border {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 60%;
}

select {
  margin: 10px 0;
  max-width: 25%;
}

.filters-container {
  max-width: 25%;
  height: 85%;
  position: fixed;
  z-index: 1;
  overflow: hidden;
  overscroll-behavior: contain;
}

.scroll-container {
  padding-top: 24px;
  padding-right: 20px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.filter-input {
  max-width: 75%;
}

.buttons {
  margin-top: 20px;
  margin-bottom: 20px;
}

game-view {
  @import '~css-star-rating/scss/star-rating';
  margin: 20px;
}
.custom-range {
  margin: 20px;
}
label {
  margin-bottom: 10px;
  margin-top: 10px;
}
.ratings {
  font-size: large;
  p {
    text-align: left;
  }
}
.details-link {
  &.active,
  &:hover,
  &:focus {
    outline: 1px solid cornflowerblue;
  }
}

img {
  width: 70%;
}

@media screen and (max-width: map-get($grid-breakpoints, lg)) {

}

@media screen and (max-width: map-get($grid-breakpoints, md)) {
  
}

@media screen and (max-width: map-get($grid-breakpoints, sm)) {

}
