<div class="container-fluid">
  <div class="row">
    <div class="site-nav col-3">
      <div class="site-menu">
        <game-filters id="game-filters" [filters]="filters"
                      (filterEvent)="handleFiltersEvent($event)"></game-filters>
      </div>
    </div>
    <div *ngIf="loaded; else loading" class="col-9" style="float: right;">
      <div *ngIf="gameList.length; else empty">
        <pagination [currentPage]="filters.page" [lastPage]="lastPage"
                    (pageChange)="handlePaginationEvent($event)"></pagination>
        <game-list [games]="gameList"></game-list>
      </div>
      <ng-template #empty>
        <empty-list-message></empty-list-message>
      </ng-template>
    </div>
    <ng-template #loading>
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </ng-template>
  </div>
</div>

