<div style ="width:500px; height:400px; margin-right: 50px;">
  <h4>Porównanie z 5 grami {{translateName()}}:</h4>
  <br>
  <div style="display: block">
    <canvas *ngIf="(isLoaded && resultsFound)" baseChart
            [datasets]="barChartData"
            [labels]="numberLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
    </canvas>

    <div class="mylink" *ngFor="let title of barChartLabels; let i = index">
      {{i+1}}.
      <a (click)="navigateToGame(i)">
         {{title}}
      </a>
    </div>

    <div *ngIf="!isLoaded">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <div *ngIf="!resultsFound">Brak wyników</div>

  </div>
  <br>
  <br>
</div>
