#pagination-container {
  padding-left: 30%;
  position: sticky;
  top: 9%;
  z-index: 1;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.pagination {
  margin-top: 25px;
}
