<div *ngIf="lastPage !== undefined" class="container-fluid" id="pagination-container">
  <div class="row">
    <div class="col">
      <ul class="pagination pg-blue">
        <li class="page-item"><a class="page-link" [class.disabled]="currentPage == 1"
                                 (click)="first()">&laquo;&laquo;</a></li>
        <li class="page-item"><a class="page-link" [class.disabled]="currentPage == 1"
                                 (click)="prev()">&laquo;</a></li>
        <li *ngFor="let page of pageNumbers" class="page-item" [class.active]="page == currentPage"
            (click)="handlePageEvent(page)"><a
          class="page-link">{{page}}</a></li>
        <li class="page-item"><a class="page-link" [class.disabled]="currentPage == lastPage"
                                 (click)="next()">&raquo;</a></li>
        <li class="page-item"><a class="page-link" [class.disabled]="currentPage == lastPage"
                                 (click)="last()">&raquo;&raquo;</a></li>
      </ul>
    </div>
  </div>
</div>
