$message-size: 90px;

.big-img {
  width: 30%;
  height: 30%;
  margin-top: 100px;
  margin-bottom: 50px;
}
.message-big {
  font-size: $message-size;
}
.hint-big {
  font-size: $message-size / 2;
}

.small-img {
  width: 50%;
  height: 50%;
}
.small-message {
  font-size: $message-size / 4;
  font-weight: bold;
}
.small-hint {
  font-size: $message-size / 4;
}
