<div *ngIf="big; else small" class="text-center fancy-writting">
  <img class="big-img" src="/images/sad_cat.svg" alt="Brak rezutlatów pasujących do podanych filtrów"/>
  <div class="message-big">{{message}}</div>
  <div class="hint-big">{{hint}}</div>
</div>
<ng-template #small>
  <div class="row">
    <div class="col-3">
      <img class="small-img float-right" src="/images/sad_cat.svg" alt="Brak rezutlatów pasujących do podanych filtrów"/>
    </div>
    <div class="col-9">
      <div class="small-message">{{message}}</div>
      <div class="small-hint">{{hint}}</div>
    </div>
  </div>
</ng-template>
