<div class="row">
  <div class="col-6">
    <label>
      {{label}}
    </label>
  </div>
  <div class="col-3">
    <button type="button" class="btn btn-primary" (click)="sortingChange()" [innerHTML]="direction"></button>
  </div>
</div>
