@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';

.spinner-border {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 80%;
  left: 50%;
}

.star {
  font-size: 1.5rem;
  color: #F4592A;
}

.warning {
  font-size: xx-large;
}

select {
  margin: 10px 0;
  max-width: 25%;
}


$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

game-view {
  @import '~css-star-rating/scss/star-rating';
  margin: 20px;
}
.custom-range {
  margin: 20px;
}
label {
  margin-bottom: 10px;
  margin-top: 10px;
}
.ratings {
  font-size: large;
  p {
    text-align: left;
  }
}
.details-link {
  &.active,
  &:hover,
  &:focus {
    outline: 1px solid cornflowerblue;
  }
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.user-header {
 display: flex;
 flex-direction: row;
 column-gap: 40px;
}

.variation {
 display: flex;
 flex-direction: column;
 row-gap: 0;
}

.tab-container{
  padding: 0;
  margin : 0 20px 30px 20px;
  max-height: 60px;
  border-bottom: solid #E0E0E0;
}

ul.tabs {
  margin: 0;
  list-style-type: none;
  line-height: 60px;
  max-height: 60px;
  overflow: hidden;
  display: inline-block;
  padding-right: 0;
  font-size: 30px;
  border-bottom: solid #E0E0E0;
}

ul.tabs > li.active {
  z-index: 2;
  background: #ffffff;
  border: solid #E0E0E0;
}

ul.tabs > li.active:before {
  border-color : transparent transparent transparent transparent;
}

ul.tabs > li.active:after {
  border-color : transparent transparent transparent transparent;
}

ul.tabs > li {
  float : right;
  margin : 0 5px -10px -41px;
  border-top-right-radius: 20px 90px;
  border-top-left-radius: 20px 90px;
  padding : 0 50px 0 50px;
  height: 170px;
  background: #ffffff;
  position : relative;
}

ul.tabs > li > a {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-decoration: none;
  color: #E0E0E0;
}

ul.tabs > li:before, ul.tabs > li:after {
  content: '';
  background: transparent;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  border-width: 10px;
  top: 0px;
  border-style: solid;
  position: absolute;
}

ul.tabs > li:before {
  border-color : transparent transparent transparent transparent;
  -webkit-transform : rotate(48deg);
  left: -23px;
}

ul.tabs > li:after {
  border-color : transparent transparent transparent transparent;
  -webkit-transform : rotate(-48deg);
  right: -17px;
}

@media screen and (max-width: map-get($grid-breakpoints, lg)) {

}

@media screen and (max-width: map-get($grid-breakpoints, md)) {

}

@media screen and (max-width: map-get($grid-breakpoints, sm)) {

}
