<div class="container">
  <div class="right" style="margin-bottom: 50px;">
    <div class="user-header">
      <div class="img-container" style="padding: 10px 0 0 0;">
	<img src="/images/user.png" alt="placeholder" style="width: 100%">
      </div>
      <div class="variation" style="margin-left: 15px">
        <p style="font-size: 35px; font-weight: 400;">{{authService.username}}</p>
	<p style="font-size: 20px">Liczba ulubionych: {{favouritesCount}}</p>
        <div *ngIf="maxScore >= 0; else noScore">
          <p style="font-size: 20px">Najwyższa ocena:
          <ngb-rating [rate]=1 readonly="true" max="1">
            <ng-template let-fill="fill" let-index="index">
              <span class="star">&#9733;</span>
            </ng-template>
          </ngb-rating> {{maxScore}}</p>
          <p style="font-size: 20px">Najniższa ocena:
            <ngb-rating [rate]=1 readonly="true" max="1">
              <ng-template let-fill="fill" let-index="index">
                <span class="star">&#9733;</span>
              </ng-template>
            </ngb-rating> {{minScore}}</p>
	</div>
	<ng-template #noScore>
	  <p style="font-size: 20px">Brak ocen</p>
        </ng-template>
      </div>
      <ng-template #noScore>
        <p style="font-size: 20px">Brak ocen</p>
      </ng-template>
    </div>
  </div>
  <div class="tab-container">
    <ul *ngFor="let tab of tabs" class="tabs" (click)="switchTab(tab)">
      <li *ngIf="isTabActive(tab)" class="active">
        <p>{{tab}}</p>
      </li>
      <li *ngIf="!isTabActive(tab)">
        <p>{{tab}}</p>
      </li>
    </ul>
  </div>
  <div *ngIf="isTabActive('Polecane')" class="row">
    <div *ngIf="loaded; else loading" class="col-12">
      <div *ngIf="gameList.length; else gameListEmpty">
        <pagination [currentPage]="filters.page" [lastPage]="lastPage"
                    (pageChange)="handlePaginationEvent($event)"></pagination>
        <game-list [games]="gameList"></game-list>
      </div>
      <ng-template #gameListEmpty>
        <empty-list-message></empty-list-message>
      </ng-template>
    </div>
  </div>
  <div *ngIf="isTabActive('Ocenione')" class="row">
    <div *ngIf="loaded; else loading" class="col-12">
      <div *ngIf="clientScoresList.length; else clientScoresListEmpty">
        <pagination [currentPage]="clientScoresFilters.page" [lastPage]="lastPage"
                    (pageChange)="handlePaginationEvent($event)"></pagination>
        <client-scores-list [clientScores]="clientScoresList"></client-scores-list>
      </div>
      <ng-template #clientScoresListEmpty>
        <empty-list-message message="Nie oceniłeś jeszcze żadnych gier"
                            hint="Możesz to zrobić wybierając liczbę gwiazdek w widoku gry"
                            [big]="false"></empty-list-message>
      </ng-template>
    </div>
  </div>
  <div *ngIf="isTabActive('Ulubione')" class="row">
    <div *ngIf="loaded; else loading" class="col-12">
      <div *ngIf="favouritesList.length; else favouritesListEmpty">
        <pagination [currentPage]="favouritesFilters.page" [lastPage]="lastPage"
                    (pageChange)="handlePaginationEvent($event)"></pagination>
        <game-list [games]="favouritesList"></game-list>
      </div>
      <ng-template #favouritesListEmpty>
        <p class="text-center warning"></p>
        <empty-list-message message="Nie dodałeś jeszcze żadnych gier do ulubionych"
                            hint="Możesz to zrobić klikając w przycisk &quot;dodaj do ulubionych&quot;"
                            [big]="false"></empty-list-message>
      </ng-template>
    </div>
  </div>
  <ng-template #loading>
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </ng-template>
</div>
